@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,600;1,600&display=swap');

body {
    font-family: 'Source Sans Pro', monospace;
    background-color: black;
    text-align: center;
}

a {
    color: yellow;
}

a, p {
    min-height: 80px;
    height: 100%;
    display: grid;
    font-size: 24px;
    margin: 0;
    border-color: white;
    border-radius: 5px;
    border-style: solid;
    text-align: center;
    align-items: center;
}

h1 {
    text-align: center;
    font-size: 42px;
    font-weight: 1600;
    text-decoration: underline wavy 4px;
}

h2 {
    font-size: 36px;
    margin: 0px 0px 5px 0px;
}

li {
    list-style: none;
    padding: 10px;
    vertical-align: middle;
}

ul {
    padding-left: 0;
}

h1, h2, li, p {
    color: white;
}

.section {
    display: inline-block;
    min-width: 250px;
    vertical-align: top;
    padding: 10px;
}

#wrapper {
    vertical-align: top;
    align-self: center;
    display: inline-block;
}

@media only screen and (max-width: 1199px) {
    a, p {
        font-size: 36px;
    }
    h1 {
        font-size: 56px;
    }
    h2 {
        font-size: 48px;
    }
}